.nav-links {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: linear-gradient(90deg, #31a5b4, #009688);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-item-container {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #212928;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #287c72;
    transform: scale(1.05);
  }
   











