body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.banks-container {
  max-width: 600px;
  margin: 50px auto;
  background: #090909;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.banks-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.search-button {
  background-color: #007bff;
  color: #bb3e3e;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3;
}

.loading {
  color: #ff9800;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.bank-details {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  background: #bb2b2b;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.bank-name {
  color: #007bff;
  font-size: 20px;
  margin-bottom: 10px;
}
